.home{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.priority-indicator {
  color: red;
  font-size: 16px;
  margin-left: 5px;
  
}

.create_form input{
  width:350px;
  padding:10px;
  border-bottom:2px solid #124E50 ;
  border-radius: 5px;
  outline: none;
  font-size: larger;
}

.create_form button{
  padding:10px;
  background-color: #124E50;
  color: white;
  cursor:pointer;
}

.task{
  display: inline-block; /*flex*/
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  width: 30%;
  background-color:#ffffff  ;
  color: black; 
  /* border: 4px #EF9F7C solid; */
  border-style: outset;
  border-radius: 20px;
  padding: 20px;
  margin-top: 2px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}



.checkbox{
  display:flex;
  align-items: center;
  background-color: #124E50;
  justify-content: flex-start;
  border-radius: 10px;
  
}

.line_through{
  text-decoration: line-through;
}

.checkbox.icon{
  margin-right:5px;
  font-size: 15px;
  display:flex;
}

.task div span {
  margin: 0px 5px 0px 4px;
  
}

.task div .icon{
  cursor:pointer;
}

.block {
  display: 'block';
}

/* Checkbox High Priority Styling */
input[type=checkbox]{
  accent-color:  #1E8285 ;
  height: 25px;
  width:30px;
  background-color: grey;
}





/* coral = #FF8A5B | teal = #1E8285   |   apricot = #FEBA9D     |   white = #FFFFFF       |    greenblue = #124E50  */